.match-results {
    display: flex;
    flex-direction: column;
    width: 40em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    font-family: "Roboto", sans-serif;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

/* TODO rename home -> ourselves */
.home {
    color: blue;
}

/* TODO rename visit -> opponent */
.visit {
    color: orange;
}

.team-name {
    font-size: x-large;
    font-weight: bold;
    width: 15em;
}

.quarters {
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    background-color: #f9f9f9;
}

.quarter {
    text-align: center;
    width: 3em;
}

.quarter .title {
    color: black;
    padding-bottom: 0.75em;
    font-weight: bold;
}

.quarter .score {
    font-size: 1em;
}

.total-score {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    width: 3em;
}
