<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temporada 2024/25</title>

    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../css/results.css"/>
</head>
<body>

<div class="timeline">

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Partido jugado</h1>
        <p>
            Plantilla para mostrar los resultados de un partido de liga
        </p>
        <p>
            La idea es reemplazar el item del timeline de "Siguiente partido"
            con este item "Partido jugado"
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999' id="liga-f1-j1">
        <h1>🏆 Liga Ahorramás - Fase 1 - Jornada 1</h1>
        <p>
            🏠
            Alcobendas
            🆚
            Alcorcón
        </p>
        <p>
            🚗
            Alcorcón
            🆚
            Alcobendas
        </p>
        <p>
            📆 Domingo, 29 de septiembre
            🕜 16:30
        </p>
        <p>
            🎥
            <a href="https://youtube.com">
                ¿Está grabado en algún sitio?
            </a>
        </p>
        <div class="match-results">
            <div class="team home">
                <div class="team-name">Alcobendas</div>
                <div class="quarters">
                    <div class="quarter">
                        <div class="title">P1</div>
                        <div class="score">7</div>
                    </div>
                    <div class="quarter">
                        <div class="title">P2</div>
                        <div class="score">15</div>
                    </div>
                    <div class="quarter">
                        <div class="title">P3</div>
                        <div class="score">15</div>
                    </div>
                    <div class="quarter">
                        <div class="title">P4</div>
                        <div class="score">16</div>
                    </div>
                </div>
                <div class="total-score">53</div>
            </div>
            <div class="team visit">
                <div class="team-name">Alcorcón</div>
                <div class="quarters">
                    <div class="quarter">
                        <div class="quarter title">P1</div>
                        <div class="quarter score">14</div>
                    </div>
                    <div class="quarter">
                        <div class="quarter title">P2</div>
                        <div class="quarter score">15</div>
                    </div>
                    <div class="quarter">
                        <div class="quarter title">P3</div>
                        <div class="quarter score">19</div>
                    </div>
                    <div class="quarter">
                        <div class="quarter title">P4</div>
                        <div class="quarter score">18</div>
                    </div>
                </div>
                <div class="total-score">66</div>
            </div>
        </div>
        <p>
            📒
            <a href="https://youtube.com">
                Enlace al acta del partido.
            </a>
            A veces FBM publica PDF...
        </p>
        <p>
            📱
            <a href="https://youtube.com">
                Enlace a alguna red social...
            </a>
        </p>
        <p>
            📸
            <a href="https://www.instagram.com/torneignord">
                Instagram
            </a>
        </p>
        <p>
            🏀
            ¿Algo que comentar?
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

</div>

</body>
</html>
