<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temporada 2024/25</title>

    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../css/results.css"/>
</head>
<body>

<div class="timeline">

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Siguente partido</h1>
        <p>
            Plantilla para mostrar el siguiente partido a jugar
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999' id="liga-f1-j1">
        <h1>🏆 Liga Ahorramás - Fase 1 - Jornada 1</h1>
        <p>
            🏠
            Alcobendas
            🆚
            Alcorcón
        </p>
        <p>
            🚗
            Alcorcón
            🆚
            Alcobendas
        </p>
        <p>
            📆 Domingo, 29 de septiembre
        </p>
        <p>
            🕜 16:30
        </p>
        <p>
            🏟️
            <a href="https://maps.google.com">
                Pabellón Antela Parada
            </a>
        </p>
        <p>
            🎥
            <a href="https://youtube.com">
                YouTube / Twitch / Otro
            </a>
        </p>
        <p>
            🏀
            Descripción del partido, cómo es el rival, si es el primero que nos encontramos,
            si está lejos, cerca, qué se espera, ganaremo? cerraremos?
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="timeline-item" date-is='99-99-9999'>
        <h1>Relleno</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

</div>

</body>
</html>
