<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Partido</title>

    <link rel="stylesheet" type="text/css" href="../css/stats.css"/>

    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div class="match-stats">
    <div class="stats">
        <div class="stat-column large">
            <div class="title">Fecha</div>
            <div class="score">06/09/2024</div>
        </div>
        <div class="stat-column large">
            <div class="title">Oponente</div>
            <div class="score">Sabadell</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Minutos">M</div>
            <div class="score">20:02</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Puntos">PTS</div>
            <div class="score">12</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Tiros libres">TL</div>
            <div class="score">0/2</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="2 puntos">2PT</div>
            <div class="score">6</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Triples">3PT</div>
            <div class="score">0</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Faltas personales">FP</div>
            <div class="score">3</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Más / Menos">+/-</div>
            <div class="score">+22</div>
        </div>
    </div>
</div>
</body>
</html>
