body {
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    text-align: center;
}

.scheduled-match {
    display: flex;
    flex-direction: column;
    border: blue 3px solid;
    margin: 1rem auto;
}

.teams-and-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    height: 6rem;
    border-bottom: blueviolet 2px solid;
}

.home-team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: flex-end;
    align-items: stretch;
    background-color: #6363aa;
}

.team-logo-container {
    width: 64px;
    height: 64px;
    margin: 1rem;
}

.team-logo {
    width: 64px;
    height: 64px;
}

.small-team-logo {
    width: 24px;
    height: 24px;
}

.home-team-name {
    margin: 1rem;
    color: white;
    flex-grow: 1;
}

.away-team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #ec4a55;
}

.away-team-name {
    margin: 1rem;
    color: white;
    flex-grow: 1;
    text-align: right;
}

.stadium-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

.stadium-address-name {
    flex: 1;
    margin-left: 2rem;
}

.stadium-address-map {
    margin: 0 2rem;
    width: 2rem;
}

.scheduled-match .match-date-time {
    width: 17%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.match-date-day {
    font-size: x-large;
    text-align: center;
    margin-top: 0.5rem;
}

.match-date-month {
    font-size: small;
    text-align: center;
}

.match-time {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
    color: #3c3caa;
}

.played-match {
    display: flex;
    flex-direction: row;
    border: #ec4a55 3px solid;
    margin: 1rem auto;
}

.played-match .match-date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: bisque;
    padding: 0 2rem;
    width: 4rem;
}

.played-match-teams {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.played-match-away-team {
    display: flex;
    flex-direction: row;
    background-color: #ec4a55;
}

.played-match-home-team {
    display: flex;
    flex-direction: row;
    background-color: #6363aa;
}

.played-match-team-name {
    flex-grow: 1;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-weight: bold;
    color: white;
}

.match-quarter {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

.match-quarter-home-header {
    color: #b8b8ec;
}

.match-quarter-away-header {
    color: #f1b9bf;
}

.match-quarter-score {
    color: white;
    font-weight: bold;
    text-align: right;
}

.match-quarter-total-score {
    margin: 1rem 0.5rem 0 1rem;
    font-size: xxx-large;
    font-weight: bolder;
    color: white;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: #ec4a55 3px solid;
}

.col-position {
    width: 5rem;
}

.col-games {
    width: 10rem;
    text-align: center;
}

.col-wins {
    width: 10rem;
    text-align: center;
}

.col-loses {
    width: 10rem;
    text-align: center;
}

.col-draws {
    width: 10rem;
    text-align: center;
}

.col-score {
    width: 10rem;
    text-align: center;
}

.col-oppositeScore {
    width: 10rem;
    text-align: center;
}

.col-points {
    width: 10rem;
    text-align: center;
}

.row-alborada {
    font-weight: bold;
    background-color: #f1b9bf;
}

thead {
    background-color: #6363aa;
    color: white;
}

th, td {
    padding: 1rem;
}

td img {
    vertical-align: top;
}

td span {
    margin: 1rem;
}
