<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Partido</title>

    <link rel="stylesheet" type="text/css" href="../css/stats.css"/>

    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div class="match-stats">
    <div class="stats">
        <div class="stat-column large">
            <div class="title">Fecha</div>
            <div>06/09/2024</div>
            <div>07/09/2024</div>
            <div></div>
            <div></div>
        </div>
        <div class="stat-column large">
            <div class="title">Oponente</div>
            <div class="opponent">Sabadell</div>
            <div class="opponent">Barça</div>
            <div class="mean">Media</div>
            <div class="total">Total</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Minutos">M</div>
            <div>20:02</div>
            <div>25:42</div>
            <div class="mean">22:30</div>
            <div class="total">45:44</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Puntos">PTS</div>
            <div>12</div>
            <div>2</div>
            <div class="mean">7</div>
            <div class="total">14</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Tiros libres">TL</div>
            <div>0/2</div>
            <div>0/0</div>
            <div class="mean">0.0</div>
            <div class="total">0/2</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="2 puntos">2PT</div>
            <div>6</div>
            <div>1</div>
            <div class="mean">3.5</div>
            <div class="total">7</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Triples">3PT</div>
            <div>0</div>
            <div>0</div>
            <div class="mean">0</div>
            <div class="total">0</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Faltas personales">FP</div>
            <div>3</div>
            <div>1</div>
            <div class="mean">2</div>
            <div class="total">4</div>
        </div>
        <div class="stat-column small">
            <div class="title" title="Más / Menos">+/-</div>
            <div>+22</div>
            <div>-25</div>
            <div class="mean">-2.5</div>
            <div class="total">-3</div>
        </div>
    </div>
</div>
</body>
</html>
